@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DynaPuff:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+TC:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background: url('/static/images/background.gif') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;
    overflow: hidden;
}

/* Ensure iOS properly supports backdrop filtering */
.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.login-signup-container {
    width: 50%;
    height: auto;
    z-index: 5;
}

.header {
    width: 100%;
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    position: relative;
}

.header h1 {
    color: white;
    letter-spacing: 0.6rem;
    font-size: 4rem;
    font-weight: 490;
}

.header img {
    width: 10vw;
    opacity: 0.2;
    position: absolute;
    right: 40%;
}

.profile-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-list-container h2 {
    color: white;
    font-weight: 400;
    margin: 1rem 0;
    padding-left: 1.5rem;
}

.profile-list-container ul {
    height: 19rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.profile-list-container ul li {
    padding: 0.75rem;
    display: flex;
    font-size: 0.95rem;
    font-weight: 200;
    align-items: center;
    width: 10rem;
    transition: 0.2s ease;
    cursor: pointer;
}

.profile-list-container ul li a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.profile-list-container ul li:hover {
    transform: translateX(2rem);
}

.profile-list-container ul li:hover a {
    font-weight: 400;
    text-decoration: underline;
}

/* Scrollbar Fix */
.profile-list-container ul::-webkit-scrollbar {
    width: 7px;
}

.profile-list-container ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Create Account */
.create-account-container,
.login-container,
.prompt-container {
    z-index: 10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-account-container button,
.login-container button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Responsive Design Fix for iOS */
@media (max-width: 500px) {
    body {
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        overflow-y: auto;
    }

    .login-signup-container {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .header h1 {
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }

    .profile-list-container ul {
        height: 13rem;
    }

    .leaderboards-container {
        position: static;
        width: 90%;
        max-width: 20rem;
        margin: 1rem auto;
    }
}
