@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DynaPuff:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+TC:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}

body {
  background: url("/static/images/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;
}
body .background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.login-signup-container {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 5;
}
.login-signup-container .header {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
  position: relative;
}
.login-signup-container .header h1 {
  color: white;
  letter-spacing: 0.6rem;
  font-size: 4rem;
  font-weight: 490;
}
.login-signup-container .header img {
  width: 10vw;
  opacity: 0.2;
  position: absolute;
  right: 40%;
}
.login-signup-container .profile-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login-signup-container .profile-list-container h2 {
  color: white;
  font-weight: 400;
  margin: 1rem 0;
  padding-left: 1.5rem;
}
.login-signup-container .profile-list-container ul {
  height: 19rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.login-signup-container .profile-list-container ul li {
  padding: 0.75rem;
  display: flex;
  justify-content: row;
  font-size: 0.95rem;
  font-weight: 200;
  align-items: center;
  width: 10rem;
  transition: 0.2s ease;
  cursor: pointer;
}
.login-signup-container .profile-list-container ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.login-signup-container .profile-list-container ul li:hover {
  transform: translateX(2rem);
}
.login-signup-container .profile-list-container ul li:hover a {
  font-weight: 400;
  text-decoration: underline;
}
.login-signup-container ul::-webkit-scrollbar {
  width: 7px;
}
.login-signup-container ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.login-signup-container .create-account {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
.login-signup-container .create-account button {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

.create-account-container {
  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.create-account-container button {
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.1rem;
  opacity: 0.8;
  cursor: pointer;
}
.create-account-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.create-account-container form input {
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  outline: none;
  color: white;
}
.create-account-container form .password-container {
  position: relative;
  width: 100%;
}
.create-account-container form .password-container i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
}
.create-account-container form input[type=submit] {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}

.leaderboards-container {
  position: fixed;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  top: 1rem;
  right: 1rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}
.leaderboards-container .lead-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.leaderboards-container .lead-head h1 {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.25rem;
}
.leaderboards-container .lead-head .label-head {
  width: 100%;
  padding: 0.2rem 0.5rem;
  background-color: rgba(62, 62, 62, 0.268);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leaderboards-container .lead-head .label-head p {
  color: white;
  font-weight: 100;
  font-size: 0.9rem;
}
.leaderboards-container .lead-head .label-head .scores-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.leaderboards-container ul {
  padding: 0.5rem 1rem;
  max-height: 12rem;
  overflow-y: scroll;
}
.leaderboards-container ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  height: 2rem;
}
.leaderboards-container ul li h3 {
  font-weight: 200;
}
.leaderboards-container ul li p {
  font-weight: 100;
}
.leaderboards-container ul::-webkit-scrollbar {
  width: 0;
}

.login-container {
  position: fixed;
  left: 50%;
  z-index: 10;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.login-container h2 {
  color: white;
  font-weight: 400;
}
.login-container button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.login-container form input {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  outline: none;
  color: white;
}
.login-container form .password-container {
  position: relative;
}
.login-container form .password-container i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
}
.login-container form input[type=submit] {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}

.prompt-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.prompt-container .error-msg {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.15);
  box-shadow: -2px 2px 8pc rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 15rem;
  border-radius: 0.75rem;
  height: -moz-fit-content;
  height: fit-content;
  color: #080d17;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.prompt-container .error-msg h3 {
  font-weight: 200;
  font-size: 1rem;
  text-justify: auto;
  padding: 1rem 0.5rem;
}
.prompt-container .error-msg hr {
  width: 15rem;
  margin-top: 0.5rem;
}
.prompt-container .error-msg button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: #1d5bca;
  margin: 0 0 0.5rem 0;
  cursor: pointer;
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    height: 98vh;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem;
    align-items: center;
  }
  .login-signup-container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 5;
    margin-top: 3rem;
  }
  .login-signup-container .header {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    position: relative;
  }
  .login-signup-container .header h1 {
    color: white;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    font-weight: 500;
  }
  .login-signup-container .header img {
    width: 30vw;
    opacity: 0.2;
    position: absolute;
    right: 28%;
  }
  .login-signup-container .profile-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-signup-container .profile-list-container h2 {
    color: white;
    font-weight: 400;
    margin: 1rem 0;
    padding-left: 1.2rem;
    font-size: 1.1rem;
  }
  .login-signup-container .profile-list-container ul {
    height: 13rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  .login-signup-container .profile-list-container ul li {
    padding: 0.75rem;
    display: flex;
    justify-content: row;
    font-size: 0.8rem;
    font-weight: 200;
    align-items: center;
    width: 10rem;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .login-signup-container .profile-list-container ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;
  }
  .login-signup-container .profile-list-container ul li:hover {
    transform: translateX(2rem);
  }
  .login-signup-container .profile-list-container ul li:hover a {
    font-weight: 400;
    text-decoration: underline;
  }
  .login-signup-container ul::-webkit-scrollbar {
    width: 7px;
  }
  .login-signup-container ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  .login-signup-container .create-account {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
  }
  .login-signup-container .create-account button {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
  }
  .leaderboards-container {
    position: static;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
  }
  .leaderboards-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .leaderboards-container div h1 {
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
  }
  .leaderboards-container ul {
    padding: 0.5rem 1rem;
    max-height: 12rem;
    overflow-y: scroll;
  }
  .leaderboards-container ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 1.2rem;
  }
  .leaderboards-container ul li h3 {
    font-weight: 200;
    font-size: 0.9rem;
  }
  .leaderboards-container ul li p {
    font-weight: 100;
    font-size: 0.8rem;
  }
}
