<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for('static', filename = 'styles/homepage.css')}}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js" integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <title>Pi Memorizer ng maangas </title>
     <link rel="icon" href="{{url_for('static', filename = 'images/icon.gif')}}">
</head>
<body>
     <div class="start-popup">
          
          <button onclick="startGame()">START</button>

     </div>
     <div id="try-again-popup">
          <button onclick="logout()" id="logout"><i class="fa-solid fa-door-open"></i></button>
          <div class="game-details">
               <h2 id="next-num">  </h2>
               <h2 id="game-score"> </h2>
               <h2 id="game-speed"> </h2>
          </div>
          <button onclick="startGame()">TRY AGAIN</button>
     </div>
     <div class="countdown-container">
          <h1 id="countdown"></h1>
     </div>
     <div class="timer-container">
          <h2 id="hr"></h2>
          <h2 id="min"></h2>
          <h2 id="sec"></h2>
          <h2 id="count"></h2>
     </div>

     <div class="background"></div>
     <h1 id="score-container"></h1>
     <div class="main-container">
          
          <div class="header">
                <h2>Enter the value of Pi one by one</h2>
                
          </div>
          <input type="text" id="inputNumber" maxlength="1" >
          <div class="foot">
               <p class="desktop-view">PRESS [SPACE BAR]</p>

          </div>
     </div>

     <div class="pi-value-container">
          <h2 class="pi-value">3.</h2>
     </div>

     <div class="phone-numkey">
          <div class="row">
               <div onclick="sendNumber(7)" class="key">7</div>
               <div onclick="sendNumber(8)" class="key">8</div>
               <div onclick="sendNumber(9)" class="key">9</div>
          </div>
          <div class="row">
               <div  onclick="sendNumber(4)" class="key">4</div>
               <div  onclick="sendNumber(5)" class="key">5</div>
               <div  onclick="sendNumber(6)" class="key">6</div>
          </div>
          <div class="row">
               <div  onclick="sendNumber(3)" class="key">3</div>
               <div  onclick="sendNumber(2)" class="key">2</div>
               <div  onclick="sendNumber(1)" class="key">1</div>
          </div>
          <div class="row">
               <div class="key" onclick="sendNumber(0)">0</div>
               <div class="key" id="enterKey" onclick="sendValueToCheck()">ENTER</div>
          </div>
     </div>

     <div class="leaderboards-container">
        
               <div>
                    <h1>Leaderboards</h1>
                    
               </div>
               
               <ul>
                    {%if users%}
                         {%for user in users%}
                              <li>
                                   <h3>{{user.name}}</h3>
                                   <p>{{user.high_score}}</p>
                                   <p>{{user.speed_score}}</p>
                              </li>
                         {%endfor%}
                    {%else%}
                         <h2>No user found</h2>
                    {%endif%}
               </ul>
  
     </div>
     
     
</body>

<script src="{{url_for('static', filename = 'scripts/homepage.js')}}"></script>
     
</html>
